version: '3.8'

services:
  app:
    build: .
    container_name: anime-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: amime-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: myanimelist_db
    env_file:
      - .env
    volumes:
      - mysql-data:/var/lib/mysql
volumes:
  mysql-data:

