server:
  port: 8080

spring:
  application:
    name: anime-service


  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/myanimelist_db}
    username: ${DATABASE_USERNAME:root}
    password: ${DATABASE_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect


  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


jwt:
  signerKey: ${JWT_SIGNER_KEY:12345678901234gdfgd567890123456789012}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:kurisu}
  api-key: ${CLOUDINARY_API_KEY:4124324}
  api-secret: ${CLOUDINARY_API_SECRET}

